body {
    font-family: Arvo;
    color: #EFF1ED;
    background-color: #769FB6;
}

.btn {
    background: none;
    font-size: 120%;
}

#display {
    font-size: 30px;
    font-size: 8.5vw;
    color: #EFF1ED;
    /*font-size: 30px; 
 border:2px solid #333;
 border-radius:100%;
  width:430px;*/
    min-height: 140px;
    margin: 50px auto;
}

#start_stop {
    color: #EFF1ED;
}

#start_stop:hover {
    text-decoration: none;
    color: #777;
}

h1,
#display {
    text-align: center;
}
